<div class="option-container-EGlcv">
    <div class="option-name-container-exGMI trakt-icon-_dK95">
        <div class="label-FFamJ">Default</div>
    </div>
    <div class="option-input-container-NPgpT button-container-ENMae button-container-zVLH6 {{ disabled }}" 
        title="Default" 
        id="Default" 
        tabindex="-1"
        onclick="applyTheme('Default')"
        style="color: white; margin-bottom: 1rem; background-color: {{ backgroundColor }};">
        <div class="label-FFamJ">{{ label }}</div>
    </div>
</div>
