<div tabindex="0" class="addon-whmdO animation-fade-in addon-container-lC5KN button-container-zVLH6" style="width: 45%; margin-bottom: 1rem;">
    <div class="info-container-AdMB6">
        <div class="name-container-qIAg8" title="{{ name }}">{{ name }}</div>
        <div class="version-container-zdPyN" title="{{ version }}">{{ version }}</div>
        <div class="description-container-v7Jhe">
            <b>Description:</b> {{ description }}
            <br>
            <b>Author:</b> {{ author }}
        </div>
    </div>
    <div class="buttons-container-g0xXr" style="width: auto;">
        <div class="action-buttons-container-xMVmz">
            <div tabindex="-1" class="{{ buttonClass }} {{ disabled }} button-container-zVLH6" onclick="applyTheme('{{ fileName }}')" id="{{ fileName }}">
                <div class="label-OnWh2">{{ label }}</div>
            </div>

            <div tabindex="-1" class="install-button-container-yfcq5 button-container-zVLH6" style="background-color: #f5bf42; display: none;" id="{{ fileName }}-update">
                <div class="label-OnWh2">Update</div>
            </div>
        </div>
    </div>
</div>
