<h4 style="color: white;">
    Developed By: <p style="display: inline !important;"><a href="https://github.com/REVENGE977" target="_blank" rel="noreferrer">REVENGE977</a></p>
    <br/>
    Version: v{{ version }}
    <br/>
</h4>
<div class="option-container-EGlcv">
    <div class="option-name-container-exGMI">
        <div class="label-FFamJ">Check for updates on startup</div>
    </div>
    <div tabindex="-1" class="option-input-container-NPgpT toggle-container-LD19U button-container-zVLH6 {{ checkForUpdatesOnStartup }}" id="checkForUpdatesOnStartup">
        <div class="toggle-c9IYf"></div>
    </div>
</div>  
<div class="option-container-EGlcv">
    <div class="option-name-container-exGMI">
        <div class="label-FFamJ">Discord Rich Presence</div>
    </div>
    <div tabindex="-1" class="option-input-container-NPgpT toggle-container-LD19U button-container-zVLH6 {{ discordrichpresence }}" id="discordrichpresence">
        <div class="toggle-c9IYf"></div>
    </div>
</div>

<br/>