/**
 * @name Black Theme
 * @description A theme that uses amoled pitch black color.
 * @updateUrl https://raw.githubusercontent.com/REVENGE977/StremioAmoledTheme/main/amoled.theme.css
 * @version 1.0.0
 * @author REVENGE977
 */

body {
    background-image: -webkit-linear-gradient(45deg, #000000, #000000);
    background-image: -moz-linear-gradient(45deg, #000000, #000000);
    background-image: -o-linear-gradient(45deg, #000000, #000000);
    background-image: -ms-linear-gradient(45deg, #000000, #000000);
    background-image: linear-gradient(45deg, #000000, #000000);
}

body #topbar #search-form-container #search-dropdown {
    background-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#window-controls #user-panel {
    background-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#streamReport {
    background-color: black;
}

body #navbar .tab.selected .icon {
    color: white;
}

.segments li.selected {
    background-color: rgba(255, 255, 255, 0.05);
}

#library .items li {
    transition: transform .2s;
}

#library .items li:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    transform: scale(1.1);
}


#discover .content .items li:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    transform: scale(1.1);
}

#discover .content .items li {
    transition: transform .2s;
}

#board .board-container li .board-row li:hover {
    transform: scale(1.1);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#board .board-container li .board-row li:focus {
    transform: scale(1.1);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#board .board-container li .board-row li {
    transition: transform .2s;
}

#board .board-container li .board-row li:hover {
    transform: scale(1.1);
}

.items .thumb > img {
    cursor: pointer;
}

/* Removing all the borders that show up on hover/focus */

#discover .content .items li:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#discover .info-box .content .details .section .links .link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#discover .info-box .content .actions .button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#library .items li:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#series-calendar .selectMonth ul li:focus {
    -webkit-box-shadow: none;
    box-shadow: none; 
}

#series-calendar ul.month li.day:focus {
    -webkit-box-shadow: none; 
    box-shadow: none;
}

#board .board-container li .board-row.board-notif .board-explanation {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.settings-container .sections a:focus {
    box-shadow: none;
}

.settings-container .settings-panel section .category .setting .shortcut-keys:focus {
    box-shadow: none;
}

.settings-container .settings-panel a:focus {
    box-shadow: none;
}

.sidebar .episodes .episodes-list li:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

select:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-select:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.segments li:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=checkbox]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar .episodes .episodes-list li:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar .details .section .links .link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.streams-container .streams .stream:focus {
    box-shadow: none;
}

.binge-group .buttons .button:focus {
    box-shadow: none;
}

#detail .content .details .section .links .link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#addonPromptModal .buttons .button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#addonsCatalog .options .addon-search:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.addon:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.addon .buttons .remove:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button-b:hover:not([disabled]),
.button-s:hover:not([disabled]) {
    background-color: rgb(10, 10, 10);
    -webkit-box-shadow: none;
    box-shadow: none;
} 

.button-b:focus:not([disabled]),
.button-s:focus:not([disabled]) {
    background-color: rgb(10, 10, 10);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#detail .content .action-buttons .button-b:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}